extends layout
block content
    .container
      .form_container
        .form_title
          | O Super knji&zcaron;nici
        .row.equal
          .col-xs-12.col-sm-6.col-lg-3
            img.img-responsive.center-block(src='images/about_knjiznica.jpg' height='400' width='400')
          .col-xs-12.col-sm-6.col-lg-3
            p
              b
                | Super knji&zcaron;nica je namenjena vsem knjigoljubom, ki si radi izposodijo in prelistajo kak&scaron;no zanimivo &ccaron;tivo.
                br
                |                   Knji&zcaron;nica deluje &zcaron;e vrsto let ter se pona&scaron;a z bogato zbirko knjig vseh zvrsti. Poleg tega pa hrani tudi revije, CD-je, kasete, ter &scaron;e kaj bi se na&scaron;lo.
                br
                |                   &quot;Kdor bere knjige, &zcaron;ivi tiso&ccaron; &zcaron;ivljenj&quot; pravijo, in to je tudi smisel ter namen te knji&zcaron;nice.
          .col-xs-12.col-sm-6.col-lg-3
            p
              b
                | Knji&zcaron;nica se nahaja na Ve&ccaron;ni poti 113 v Ljubljani. Do nas lahko pridete z avtom, avtobusom, kolesom ali pe&scaron;.
            p
              b Odprto: Vsak dan oh 8:00 do 20:00.
            p
              b  Telefon: (01) 123 123
          .col-xs-12.col-sm-6.col-lg-3
            iframe.embed-responsive-item(frameborder='0', src='https://maps.google.com/maps?q=SFakulteta za računalništvo&z=15&output=embed', height='250' width='250')