extends layoutAdmin
block content
        .container
          .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            .form_title=''
              button.btn.btn-success.btn-sm(type='button', onclick='izbrisiBazo()') Izbriši podatkovno bazo
              button.btn.btn-success.btn-sm(type='button', onclick='vnesiZacetnePodatke()') Vnesi začetne podatke
        script(src='../javascripts/navigation_handler.js' type='text/javascript')
