extends layoutAdmin
block content
        .container
          .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            .form_title=objekt.naslov
            table.table.table-condensed
              tr
                th Naslov
                td(colspan='3')=objekt.naslov
              tr
                th Avtor
                td(colspan='3')=objekt.avtor
              tr
                th Ocena
                td.text-nowrap
                  +prikaziOceno(objekt.ocena)
                th Na voljo
                td.text-center
                  +prikaziIzposojena(objekt.status)
              tr
                th Medij
                td=objekt.medij
                th &Zcaron;anr
                td=objekt.zanr
              tr
                th Datum izdaje
                td.text-nowrap
                  +formatirajDatum(objekt.datumIzdaje)
                th Jezik
                td=objekt.jezik
            .col-lg-12.text-center
              button.btn.btn-success.btn-sm(type='button', onclick='edit_book("'+objekt._id+'")') Uredi
              button.btn.btn-success.btn-sm(type='button', onclick='delete_book("'+objekt._id+'")') Izbri&scaron;i
              - if (objekt.gBookId)
                button.btn.btn-success.btn-sm(type='button', onclick='redirectTogoogleBook("'+objekt.gBookId+'")') Predogled knjige
              -else
                button.btn.btn-success.btn-sm(type='button', disabled) Predogled knjige
        .container
          .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            .form_title
              | Komentarji
            each komentar in objekt.komentarji
              .comment
                button.btn.btn-success.btn-xs.btn-del-comm(type='button', onclick='removeComment("'+objekt._id+'","'+komentar._id+'")') Izbriši
                .comment_username
                  =komentar.avtor
                .comment_value
                  p=komentar.besediloKomentarja
            - povezava = './' + objekt._id + '/komentar'
            form.comment_form(method='post', action=povezava)
              .form-group
                label(for='avtor') Ime
                input#input_title.form-control(type='text', name='avtor', required)
              .form-group
                label(for='komentar') Komentar
                textarea#textarea_comment.form-control(rows='3', name='komentar', required)
              .text-right
                button.btn.btn-success(type='submit') Po&scaron;lji
        script(src='../javascripts/navigation_handler.js' type='text/javascript')
