extends layout
block content
        .container
          .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            table.table.table-condensed(ng-controller='seznamObjektiCtrl')
              tr
                th Naslov
                td(colspan='3') {{objekt.naslov}}
              tr
                th Avtor
                td(colspan='3') {{objekt.avtor}}
              tr
                th Ocena
                td.text-nowrap(prikazi-oceno, ocena="objekt.ocena")
                th Na voljo
                td.text-center(prikazi-izposojeno, izposojeno="objekt.status")
              tr
                th Medij
                td {{objekt.tip}}
                th &Zcaron;anr
                td {{objekt.zanr}}
              tr
                th Jezik
                td {{objekt.jezik}}
        script(src='../javascripts/navigation_handler.js' type='text/javascript')
