extends layoutAdmin
block content
    .container
      .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .form_title
          | Dodajanje v knjižnico
        form(method='post')
          .row
            .form-group.col-lg-12
              label(for='naslov') Naslov
              input#input_title.form-control(type='text', name='naslov', required)
          .row
            .form-group.col-lg-12
              label(for='avtor') Avtor
              input#input_author.form-control(type='text', name='avtor', required)
          .row
            .form-group.col-md-6
              label(for='zanr') Žanr
              select#select_genre.form-control(name='zanr', required)
                option(value='Roman') Roman
                option(value='Kriminalka') Kriminalka
                option(value='Erotika') Erotika
                option(value='Revije') Revije
            .form-group.col-md-6
              label(for='datumIzdaje') Datum izdaje
              input#input_date.form-control(type='date', max='2019-12-31', name='datumIzdaje', required)
          .row
            .form-group.col-md-4
              label(for='medij') Medij
              select#select_media.form-control(name='medij', required)
                option(value='Knjiga') Knjiga
                option(value='Revija') Revija
                option(value='CD') CD
                option(value='Kaseta') Kaseta
            .form-group.col-md-4
              label(for='jezik') Jezik
              input#input_author.form-control(type='text', name='jezik', required)
            .form-group.col-md-4
              label(for='gBookId') Google Books ID
              input#input_author.form-control(type='text', name='gBookId')
          .text-center
            button.btn.btn-success(type='submit') Dodaj