extends layout
block content
    .container
      .form_container
        .form_title
          | Knji&zcaron;nica
        table.table.table-condensed(ng-controller='seznamObjektiCtrl')
          tr
            th Naslov
            th Avtor
            th.hidden-xs Medij
            th.hidden-xs Jezik
            th.hidden-xs Ocena
            th.text-center Na voljo
          tr(ng-repeat="objekt in data.objekti" ng-click='show_object_detailUser()')
            td {{objekt._id}}
            td {{objekt.avtor}}
            td.hidden-xs {{objekt.medij}}
            td.hidden-xs {{objekt.jezik}}
            td.text-nowrap.hidden-xs(prikazi-oceno, ocena="objekt.ocena")
            td.text-center(prikazi-izposojeno, izposojeno="objekt.status")
    script(src='../javascripts/navigation_handler.js' type='text/javascript')
