doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    title Google Books Embedded Viewer API Example
    script(type="text/javascript" src="https://www.google.com/books/jsapi.js")
    script(type="text/javascript").
      google.books.load();
      function initialize() {
      var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
      var urlPath = window.location.pathname;
      viewer.load(urlPath.substr(urlPath.lastIndexOf('/') + 1));
      }
      google.books.setOnLoadCallback(initialize);
  body
    #viewerCanvas.container-fluid(style="width: auto; height: 1000px")
