extends layoutAdmin
block content
    .container
      .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .form_title
          | Iskanje
        form(autocomplete='on')
          .row
            .form-group.col-md-6
              label(for='select_search') Išči po
              select#select_searcg.form-control(name='param')
                option(value='naslov') Naslov
                option(value='avtor', selected='') Avtor
                option(value='zanr') Žanr
                option(value='datumIzdaje') Leto izdaje
                option(value='jezik') Jezik
            .form-group.col-md-6
              label(for='input_value') Iskani niz
              input#input_value.form-control(type='text', name='val')
          .text-center
            button.btn.btn-success(type='submit') Išči
    .container
      .form_container
        .form_title
          | Rezultati
        table.table.table-condensed
          tr
            th Naslov
            th Avtor
            th.hidden-xs Medij
            th.hidden-xs Jezik
            th.hidden-xs Ocena
            th.text-center Na voljo
            th
          each objekt in Objekti
            tr(onclick='show_object_detailAdmin("' + objekt._id + '")')
              td=objekt.naslov
              td=objekt.avtor
              td.hidden-xs=objekt.medij
              td.hidden-xs=objekt.jezik
              td.text-nowrap.hidden-xs
                +prikaziOceno(objekt.ocena)
              td.text-center
                  +prikaziIzposojena(objekt.status)
              td
    script(src='../javascripts/navigation_handler.js' type='text/javascript')
