extends layoutAdmin
block content
    .container
      .form_container
        .form_title
          | Seznam izposojenih knjig
        table.table.table-condensed
          tbody
            tr
              th Naslov
              th Avtor
              th.hidden-xs Medij
              th.hidden-xs Jezik
              th.hidden-xs Ocena
              th Uporabnik
              th Rok
            each objekt in Objekti
              tr(onclick='show_object_detailAdmin("' + objekt._id + '")')
                td=objekt.naslov
                td=objekt.avtor
                td.hidden-xs=objekt.medij
                td.hidden-xs=objekt.jezik
                td.text-nowrap.hidden-xs
                  +prikaziOceno(objekt.ocena)
                td
                td
    script(src='../javascripts/navigation_handler.js' type='text/javascript')

