include skupneHtmlfunkcije
doctype html
html
  head
    meta(charset='UTF-8')
    title Super knjižnica
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet' href='../stylesheets/style.css')
  body
    nav.navbar.navbar-inverse.navbar-costume
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar_collapse', aria-expanded='false')
            span.sr-only Meni
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #navbar_collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/domovAdmin') Domov
            li
              a(href='/dodajanjeElementa') Dodajanje
            li
              a(href='/iskanjeAdmin') Iskanje
            li
              a(href='/izposojeneAdmin') Izposojene knjige
            li
              a(href='/topIzposojeneAdmin') Top knjige
            li
              a(href='/statistikaAdmin') Statistika
          ul.nav.navbar-nav.navbar-right
            if user
              li 
                a(href='/logout') Odjava
            else
              li
                a(href='/registracija') Registracija
              li
                a(href='/') Prijava
        // /.navbar-collapse
        // /.container-fluid
    block content
