include skupneHtmlfunkcije
doctype html
html(ng-app='_library')
  head
    meta(charset='UTF-8')
    title Super knjižnica
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //angular
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/app.js')
    script(src='/objekt/objekti.krmilnik.js')
    script(src='/objekt/objektiDetail.krmilnik.js')
    script(src='/skupno/storitve/objektiPodatki.storitev.js')
    link(rel='stylesheet' href='../stylesheets/style.css')
  body
    nav.navbar.navbar-inverse.navbar-costume
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar_collapse', aria-expanded='false')
            span.sr-only Meni
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #navbar_collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/domovUser') Domov
            li
              a(href='/iskanjeUser') Iskanje
            li
              a(href='/izposojeneUser') Izposojene knjige
            li
              a(href='/topIzposojeneUser') Top knjige
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/about') O nas
            if user
              li 
                a(href='/logout') Odjava
            else
              li
                a(href='/registracija') Registracija
              li
                a(href='/') Prijava
        // /.navbar-collapse
        // /.container-fluid
    div(ng-view)
      block content
