extends layout
block content
  .container
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.form_container
      .form_title
        | Prijava
      form(autocomplete='on')
        .form-group
          label(for='input_email') Email naslov
          input#input_email.form-control(type='email', placeholder='Email', required='')
        .form-group
          label(for='input_password') Geslo
          input#input_password.form-control(type='password', placeholder='Geslo', autocomplete='off', required='')
        .text-right
          button#btn_login.btn.btn-success(type='button' onclick='handle_login()') Prijava
    script(src='../javascripts/login_handler.js' type='text/javascript')