extends layout
block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .form_title
          | Registracija
        form(onsubmit='handle_registration(event)' autocomplete='off')
          .row
            .form-group.col-md-6
              label(for='input_name') Ime
              input#input_name.form-control(type='text' placeholder='Ime' required='')
            .form-group.col-md-6
              label(for='input_lastname') Priimek
              input#input_lastname.form-control(type='text' placeholder='Priimek' required='')
          .form-group
            label(for='input_email') Email naslov
            input#input_email.form-control(type='email' placeholder='Email' required='')
          .row
            .form-group.form-group.col-md-6
              label(for='input_password') Geslo
              input#input_password.form-control(type='password' placeholder='Geslo' required='')
            .form-group.form-group.col-md-6
              label(for='input_re-password') Ponovi geslo
              input#input_re-password.form-control(type='password' placeholder='Ponovi geslo' required='')
          .text-right
            button.btn.btn-success(type='submit') Registracija
    script(src='../javascripts/login_handler.js' type='text/javascript')