mixin prikaziOceno(stevec)
    - for (var i = 1; i <= stevec; i++)
        span.glyphicon.glyphicon-star(aria-hidden='true')
    - for (var i = stevec; i < 5; i++)
        span.glyphicon.glyphicon-star-empty(aria-hidden='true')

mixin formatirajDatum(nizDatum)
  - datum = new Date(nizDatum);
  - var d = datum.getDate();
  - var m = datum.getMonth() + 1;
  - var l = datum.getFullYear();
  - var odgovor = d + "." + m + "." + l;
  = odgovor

    
mixin prikaziIzposojena(status)
    - if (status == true)
        span.glyphicon.glyphicon-ok(aria-hidden='true')
    - if (status == false)
        span.glyphicon.glyphicon-remove(aria-hidden='true')