extends layoutAdmin
block content
    .container
      .form_container
        .form_title
          | Najbolj aktiven uporabnik
        table.table.table-condensed
          tbody
            tr
              th Ime
              th Priimek
              th.hidden-xs Uporabniško ime
              th Število izposoj
              th
              - if (Objekti.length > 0)
                tr
                  td=Objekti[0].ime
                  td=Objekti[0].priimek
                  td.hidden-xs=Objekti[0].upIme
                  td=Objekti[0].stIzposoj
                  td
                    button.btn.btn-success.btn-sm(type="button") Zgodovina
    .container
      .form_container
        .form_title
          | Uporabnik s trenutno največ knjigami
        table.table.table-condensed
          tbody
            tr
              th Ime
              th Priimek
              th.hidden-xs Uporabniško ime
              th Število knjig
              th
              - if (Objekti.length > 1)
                tr
                  td=Objekti[1].ime
                  td=Objekti[1].priimek
                  td.hidden-xs=Objekti[1].upIme
                  td=Objekti[1].izposojenihTrenutno
                  td
                    button.btn.btn-success.btn-sm(type="button") Zgodovina
