extends layoutAdmin
block content
    .container
      .form_container
        .form_title
          | Največkrat izposojene knjige
        table.table.table-condensed
          tr
            th Naslov
            th Avtor
            th.hidden-xs Medij
            th.hidden-xs Jezik
            th.hidden-xs Ocena
            th.text-center Na voljo
            th
          each objekt in Objekti
            tr(onclick='show_object_detailAdmin("' + objekt._id + '")')
              td=objekt.naslov
              td=objekt.avtor
              td.hidden-xs=objekt.medij
              td.hidden-xs=objekt.jezik
              td.text-nowrap.hidden-xs
                +prikaziOceno(objekt.ocena)
              td.text-center
                +prikaziIzposojena(objekt.status)
              td
    script(src='../javascripts/navigation_handler.js' type='text/javascript')
