extends layoutAdmin
block content
    .container
      .form_container.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .form_title
          | Urejanje podatkov o knjigi
        form(method='post')
          .row
            .form-group.col-lg-12
              label(for='naslov') Naslov
              input#input_title.form-control(type='text', name='naslov', value=objekt.naslov, required)
          .row
            .form-group.col-lg-12
              label(for='avtor') Avtor
              input#input_author.form-control(type='text', name='avtor', value=objekt.avtor, required)
          .row
            .form-group.col-md-6
              label(for='zanr') Žanr
              select#select_genre.form-control(name='zanr', required)
                option(value='Roman', selected=value=objekt.zanr == 'Roman') Roman
                option(value='Kriminalka', selected=value=objekt.zanr == 'Kriminalka') Kriminalka
                option(value='Erotika', selected=value=objekt.zanr == 'Erotika') Erotika
                option(value='Revije', selected=value=objekt.zanr == 'Revije') Revije
            .form-group.col-md-6
              label(for='datumIzdaje') Datum izdaje
              input#input_date.form-control(type='date', max='2019-12-31', name='datumIzdaje', value=objekt.datumIzdaje.slice(0,10), required)
          .row
            .form-group.col-md-4
              label(for='medij') Medij
              select#select_media.form-control(name='medij', required)
                option(value='Knjiga', selected=value=objekt.medij == 'Knjiga') Knjiga
                option(value='Revija', selected=value=objekt.medij == 'Revija') Revija
                option(value='CD', selected=value=objekt.medij == 'CD') CD
                option(value='Kaseta', selected=value=objekt.medij == 'Kaseta') Kaseta
            .form-group.col-md-4
              label(for='jezik') Jezik
              input#input_author.form-control(type='text', name='jezik', value=objekt.jezik, required)
            .form-group.col-md-4
              label(for='gBookId') Google Books ID
              input#input_author.form-control(type='text', name='gBookId', value=objekt.gBookId)
          .text-center
            button.btn.btn-success(type="submit") Uredi
            button.btn.btn-success(type='button', onclick='delete_book("'+objekt._id+'")') Izbri&scaron;i
        script(src='../javascripts/navigation_handler.js' type='text/javascript')