<div class="container">
    <div class="form_container">
        <div class="form_title">{{vm.glavaStrani.naslov}}</div>
        <table class="table table-condensed">
            <tr>
                <th>Naslov</th>
                <th>Avtor</th>
                <th class="hidden-xs">Medij</th>
                <th class="hidden-xs">Jezik</th>
                <th class="hidden-xs">Ocena</th>
                <th class="text-center">Na voljo</th>
            </tr>
            <tr ng-repeat="objekt in vm.data.objekti" ng-click="show_object_detailUser(objekt._id)">
                <td>{{objekt.naslov}}</td>
                <td>{{objekt.avtor}}</td>
                <td class="hidden-xs">{{objekt.medij}}</td>
                <td class="hidden-xs">{{objekt.jezik}}</td>
                <td class="text-nowrap hidden-xs" prikazi-oceno="prikazi-oceno" ocena="objekt.ocena"></td>
                <td class="text-center" prikazi-izposojeno="prikazi-izposojeno" izposojeno="objekt.status"></td>
            </tr>
        </table>
    </div>
</div>