<div class="container">
	<div class="form_container col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<div class="form_title">{{vm.data.objekt.naslov}}</div>
		<table class="table table-condensed">
			<tr>
				<th>Naslov</th>
				<td colspan="3">{{vm.data.objekt.naslov}}</td>
			</tr>
			<tr>
				<th>Avtor</th>
				<td colspan="3">{{vm.data.objekt.avtor}}</td>
			</tr>
			<tr>
				<th>Ocena</th>
				<td class="text-nowrap">{{vm.data.objekt.ocena}}</td>
				<th>Na voljo</th>
				<td class="text-center">{{vm.data.objekt.status}}</td>
			</tr>
			<tr>
				<th>Medij</th>
				<td>{{vm.data.objekt.medij}}</td>
				<th>&Zcaron;anr</th>
				<td>{{vm.data.objekt.zanr}}</td>
			</tr>
			<tr>
				<th>Datum izdaje</th>
				<td class="text-nowrap">{{vm.data.objekt.datumIzdaje}}</td>
				<th>Jezik</th>
				<td>{{vm.data.objekt.jezik}}</td>
			</tr>
		</table>
		<div class="col-lg-12 text-center"></div>
	</div>
</div>
<div class="container">
    <div class="form_container col-xs-12.col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="form_title">
            Komentarji
        </div>
        <div ng-repeat="komentar in vm.data.objekt.komentarji">
            <div class="comment">
                <div class="comment_username">
                    {{komentar.avtor}}
                </div>
                <div class="comment_value">
                    <p>{{komentar.besediloKomentarja}}</p>
                </div>
            </div>
        </div>
        <form class="comment_form" method="post", action="">
            <div class="form-group">
                <label for="avtor">Ime</label>
                <input id="input_title" class="form-control" type="text", name="avtor", required />
            </div>
            <div class="form-group">
                <label for="komentar">Komentar</label>
                <textarea id="textarea_comment" class="form-control" rows="3" name="komentar" required />
            </div>
            <div class="text-right">
                <button class="btn btn-success" type="submit">Pošlji</button>
            </div>
        </form>
    </div>
</div>