.navbar.navbar-costume {
  border-radius: 0;
  background-color: #333;
}
/*Bootstrap overwrite*/
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover:not(.active) {
  background-color: #111;
}

.navbar-inverse .navbar-nav > li > a.active {
    background-color: #4CAF50;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #eee;
}

/*General*/
.form_container {
    background-color : #C6C6C6;
    border: 2px solid #4CAF50;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.form_title {
    background-color: #333;
    background-image: linear-gradient(to bottom right, #5f5f5f, #333 50%);
    color: white;
    font-size: large;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
}

#input_date {
  line-height: normal;
}

 /*Komentarji*/
.comment_username {
  font-weight: bold;
}

.comment_value {
  padding-left: 10px;
  border-bottom: 1px solid #ddd
}

.comment_form {
  padding-top: 20px;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
